<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <form  action="/" method="POST">
        <label for="ciyInput">Photo Type:</label>
        <input id="ciyInput" type="text" name="photoType" placeholder="Search photos">
        <button type="submit">Go</button>
    </form>

    <%imagesURLS.forEach(image => { %>
        <img id="image" src="<%=image%>" alt="">
    <%})%>

    
    
    
</body>
</html>