/* Font: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Roboto', sans-serif;
}


header {
    height: 80px; /* 64 + 16 */
    position: sticky;
    top: -16px; 
    z-index: 1;
    -webkit-backface-visibility: hidden;
   }
    
   header::before,
   header::after {
    content: '';
    display: block;
    height: 16px;
    position: sticky;
   }
    
   header::before {
    top: 48px; /* 64 - 16 */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
   }
    
   header::after {
    background: linear-gradient(white, rgba(255,255,255,0.3));
    top: 0;
    z-index: 2;
   }
    
   header > nav {
    background: #333;
    height: 64px;
    padding: 20px;
    position: sticky;
    top: 0px;
    margin-top: -16px;
    z-index: 3;
   }

   form label {
       color: #fff;
       font-size: 1.5rem;
   }

   .controls {
       height: 30px;
       text-align: center;
   }
   
   .photo-loader {
      cursor: pointer;
   }

.gallery {
    margin: 0 60px 60px 60px;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 280px;
    grid-gap: 10px;
    overflow: hidden;
}

.gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s ease;
}

.hover-img:hover {
    object-fit: conver;
    transform: scale(1.7);
    border: 5px solid white;
}

/* adding width to the photos is distorting and stretching them. 
currently requesting small(width: 400px) from API*/